.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 300px;
    width: 100%;
  }
  
  .toggle-switch {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #e0e0e0;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle-switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a0202;
    transition: .4s;
  }
  
  .toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 50%;
    right: 2px;
    bottom: 2px;
    background-color: #4acaa8;
    transition: .4s;
    border-radius: 18px;
  }
  
  
  .toggle-switch input:checked + .slider:before {
    transform: translateX(calc(-100% + 4px));
  }
  
  .toggle-labels {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .toggle-labels span {
    z-index: 1;
    color: #333;
    font-weight: bold;
    flex: 1;
    text-align: center;
    transition: .4s;
  }
  
  .toggle-switch input:not(:checked) ~ .toggle-labels .education,
  .toggle-switch input:checked ~ .toggle-labels .experience {
    color: #fcfcfc;
  }
  
  
  .content-container .content {
    display: block;
  }
  
  .content-container .content.active {
    display: none;
  }
  
  @media (max-width: 480px) {
    .toggle-container {
      max-width: 250px;
    }
    
    .toggle-switch {
      height: 36px;
    }
    
    .toggle-switch .slider:before {
      height: 32px;
    }
    
    .toggle-labels span {
      font-size: 14px;
    }
  }

  /*EDUCATION & ECPERIENCE ITEMS*/

  .ee-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .ee-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #4acaa8;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding:15px;
  }
  
  .ee-logo {
    width: 100%;
    max-width: 150px;
    height: auto;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
  }
  
  .ee-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }  

  .ee-logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .ee-details {
    width: 100%;
  }

  .ee-title {
    padding: 15px;
    flex-grow: 1;
    
  }

  .university-name,
  .company-name {
    margin: 0 0 10px;
    font-size: 1.8em;
    color: #ffffff;
  }
  
  .degree {
    margin: 0 0 5px;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    color: #333;
  }
  
  .time-location {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #444;
  }
  
  .company-location{
    margin: 0 0 15px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    color: #333;
  }

  .role-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .role-item{
    position: relative;
    padding-left: 20px;
  }

  .role-title{
    margin: 0 0 5px;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline;
    color: #020202;
  }

  .role-title::before{
    content:'';
    position: absolute;
    left: 0px;
    top: 20px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #333;
    box-shadow: 0 0 0 1px #333;
  }

  .time{
    margin: 0 0 5px;
    font-size: 0.9em;
    font-weight: bold;
    color: #444;
  }
  
  .role-description{
    font-size: 1em;
    font-weight: bold;
    color:#444;
  }

  @media (max-width: 768) {
    .ee-item {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .ee-logo {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  .role-heading{
    margin: 0 0 5px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
    color: #333;
  }

  .tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 5px;
    align-items: center; 
  }
  
  .tag-item {
    margin-right: 0.375rem;
    margin-top: 0.5rem;
  }
  
  .tag-tech,
  .tag-area_skill,
  .tag-area_skill_exp {
    display: inline-flex;
    align-items: center;
    border-radius: 9999px;
    padding: 0.25rem 0.75rem;
    font-size: 1em;
    line-height: 1.25rem;
    /* Additional styles specific to .tag-tech and .tag-area_skill */
  }

  .tag-tech {
    background-color: rgba(0, 0, 0, 1);
    color: #ffffff;
  }

  .tag-area_skill {
    background-color: rgba(255, 255, 255, 0.8);
    color: #0c0c0c;
  }

  .tag-area_skill_exp {
    background-color: rgb(74, 202, 168, 0.8);
    color: #0c0c0c;
  }

  .custom-icon {
    height: auto;
    max-height: 1em; 
    width: auto;
    max-width: 1em;
  }